// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$primary: #7c2448; // Thats a sample how you could change a BootStrap variable.
$secondary: #aa5b77;
$dark_plum: #7c2448;
$light_plum: #aa5b77;
$pink: #f8b5b7;

$dark_peach: #f8c9a3;
$peach: #fcd4c1;
$yellow_peach: #ffdcba;

$dark_green: #425e42;
$mute_green: #698276;

$black: #373637;

$xl: 1200px;
//large devices e.g. desktops
$lg: 992px;
//medium devices e.g. tablets
$md: 768px;
//small devices e.g. landscape phones
$sm: 576px;

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  min-height: 8000px;
}

/*.btn {
  border-radius: 1.5em;
  border: 1px solid $primary;
  padding: 0.25em 1em;
  background: $light_plum;
  font-size: 1em;
  color: white;
  transition: ease 0.25s;
  &:hover {
	background-color: $primary;
  }
}*/

.top-header {
  display: flex;
  align-items: center;
  // background-image: url(../img/headers/cupcakes-black.jpg);
  background-image: url(../../img/headers/cupcakes-black.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .mobile-menu-dropdown-small {
	display: none;
	@media (max-width:$sm) {
	  display: flex;
	}
	button {
	  color: $primary;
	  margin: 16px 0;
	  span {
		margin-right: 0.5em;
	  }
	  &:hover{
		background: $light_plum;
		color: white;
	  }
	}
  }
  .top-header-contact {
	display: flex;
	justify-content: flex-end;

	@media (max-width:$md) {
	  display: none;
	}
	@media (max-width:$sm) {
	  display: flex;
	  justify-content: space-between;
	}
	a {
	  display: inline-block;
	  color: $peach;

	  .fa {
		font-size: 25px;
		color: $primary;
		padding: 1em 0.3em;
	  }
	}
  }
  //.mobile-holder-logo{
	//@media (max-width:$md) {
	//  text-align: center;
	//  margin-bottom: 5px;
	//}
  //}
}

#main-nav {
  background: $dark_plum;
  border-top: 1px solid $light_plum;
  border-bottom: 1px solid $light_plum;

  #navbarNavDropdown {
	@media (max-width:$lg) {
	  padding-top: 15px;
	}
  }

  .mobile-menu-dropdown {
	display: none;
	@media (max-width:$lg) {
	  display: block;
	}
	@media (max-width:$sm) {
	  display: none;
	}
	button {
	  border: none;
	  color: white;
	  padding: 8px;
	  span {
		margin-right: 0.5em;
	  }
	  &:hover{
		background: $light_plum;
	  }
	}
  }

  .search-input-holder {
	margin: -2px 0;
	display: flex;
	border: 2px solid $primary;
	border-radius: 6px;
	background: white;
	width: 350px;
	@media (max-width:$sm) {
	  width: 98%;
	}
	.title{
	  padding: 8px 12px;
	  color: $primary;
	}
	input {
	  padding: 0 0 0 10px;
	  flex: 1;
	  outline: none;
	  border: none;
	  border-left: 2px solid $primary;
	  border-bottom-right-radius: 6px;
	  border-top-right-radius: 6px;
	  &::placeholder{
		color: $black;
	  }
	}
  }

  #main-menu {
	li {
	  a {
		font-size: 16px;
		font-weight: lighter;
		text-transform: uppercase;
		color: white;
		padding: 0 15px;
	  }
	  &.current-menu-item {
		a{
		  color: $pink;
		  font-weight: normal;
		}
	  }
	  .dropdown-menu {
		background: $light_plum;
		li {
		  a {
			&:hover{
			  background: $pink;
			}
		  }
		}
	  }
	}
  }
}


// HOME PAGE ----------------------------------------

.home-hero-banner-top {
  .container-info{
	background: $primary;
	opacity: 50%;
	margin: -20px 0;
  }
  .info-holder{
	//border: 3px dashed $primary;
	border-radius: 15px;
	padding: 30px;
	background: $primary;
	color: white;
	.fa{
	  padding-right: 0.5em;
	}
	.title {
	  font-size: 30px;
	  font-weight: bold;
	}
	.description {
	  font-size: 20px;
	  font-weight: 300;
	}
  }
  .quote-holder {
	position: relative;
	margin-top: 5vh;
	background: $peach;
	width: 90%;
	height: 150px;
	border-radius: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%,-50%);
	@media (min-width:$xl) {
	  height:160px;
	  object-position: 0 100%;
	}
	@media (max-width:$lg) {
	  height:130px;
	  object-position: 50% 100%;
	}
	@media (max-width:$md) {
	  height:100px;
	  width: 100%;
	  border-radius: 0;
	  object-position: 50% 100%;
	}
	.illustration-to-invert {
	  margin-top: -10vh;
	  filter: invert(100%);
	  -webkit-filter: invert(100%);
	  //left: 50%;
	  @media (min-width:$xl) {
		margin-top: -15vh;
		transform: translate(3vw, 0);
		-webkit-transform: translate(3vw,0);
	  }
	  @media (max-width:$md) {
		margin-top: -8vh;
	  }
	  @media (max-width:$sm) {
		margin-top: -3vh;
	  }
	}

	.bloemerin-quote {
	  position: absolute;
	  padding: 0;
	  left: 50%;
	  top: 50%;
	  transform: translate(-50%, -50%);
	  -webkit-transform: translate(-50%, -50%);
	  z-index: 100;
	  font-family: 'Dancing Script', cursive;
	  font-size: 40px;
	  text-align: center;
	  color: $primary;
	  @media (max-width:$lg) {
		font-size: 35px;
	  }
	  @media (max-width:$md) {
		font-size: 30px;
	  }
	  @media (max-width:$sm) {
		font-size: 25px;
	  }
	}

	//quote alternating animations
	@keyframes bloemerinQuote {
	  0% {opacity: 0;}
	  10% {opacity: 100%;}
	  40% {opacity: 100%;}
	  50% {opacity: 0;}
	  100% {opacity: 0;}
	}
	@keyframes bloemerinEnglishQuote {
	  0% {opacity: 0;}
	  50% {opacity: 0;}
	  60% {opacity: 100%;}
	  90% {opacity: 100%;}
	  100% {opacity: 0;}
	}
	.dutch {
	  animation-name: bloemerinQuote;
	  animation-duration: 10s;
	  animation-iteration-count: infinite;
	}
	.english {
	  opacity: 0;
	  animation-name: bloemerinEnglishQuote;
	  animation-duration: 10s;
	  animation-iteration-count: infinite;
	}
  }

  .home-carousel{
	margin-bottom: 10vh;
	background: $peach;
	.carousel-item {
	  height: 32rem;
	}
	.carousel-caption{
	  color: $primary;
	  background-color: white;
	  opacity: 80%;
	}
  }

  .home-quote-holder {
	background: $primary;
	border-radius: 20px;
	display: flex;
	padding: 30px;
  }
}

.home-product-info {
  height: 1000px;
  background: $peach;
  padding-top: 200px;
  z-index: -100;

  .home-product-info-background-underlay {
	//this is to give the indentation effect to the underlay
	position: relative;
	&::before{
	  position: absolute;
	  content: "";
	  display: block;
	  top: 30px;
	  bottom: 30px;
	  left: 0;
	  right: 0;
	  background: rgba($primary, 0.5);
	}
  }

  .home-special-offer {
	padding: 30px;
	position: relative;
	z-index: 100;
	background: $primary;
	border-radius: 15px;
	display: flex;
	@media (max-width: $md) {
	  display: block;
	  text-align: center;
	}
	.discount-circle {
	  height: 200px;
	  min-width: 200px;
	  border-radius: 50%;
	  background: white;
	  color: $light_plum;
	  line-height: 1.25;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  @media (max-width: $md) {
		display: inline-flex;
		height: 165px;
		min-width: 165px;
	  }
	  .save {
		font-size: 28px;
		font-weight: 600;
		text-align: center;
		@media (max-width: $md) {
		  font-size: 22px;
		}
	  }
	  .highlight-word {
		font-family: 'Dancing Script', cursive;
		font-size: 30px;
		color: $primary;
		@media (max-width: $md) {
		  font-size: 25px;
		}
	  }
	}
	.entry-content{
	  padding: 20px 0 15px 30px;
	  color: white;
	  @media (max-width: $md) {
		padding-left: 0;
	  }
		.title {
		  font-size: 38px;
		  font-weight: 600;
		  color: $peach;
		  @media (max-width: $xl) {
			font-size: 28px;
		  }
		}
	  .desc {
		font-size: 24px;
		font-weight: 300;
		margin: 10px 0;
		@media (max-width: $md) {
		  font-size: 20px;
		}
	  }
	}
  }
}
