// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$primary: #7c2448; // Thats a sample how you could change a BootStrap variable.
$dark_plum: #7c2448;
$light_plum: #aa5b77;
$pink: #f8b5b7;

$dark_peach: #f8c9a3;
$peach: #fcd4c1;
$yellow_peach: #ffdcba;

$dark_green: #425e42;
$mute_green: #698276;

$black: #373637;

$xl: 1200px;
//large devices e.g. desktops
$lg: 992px;
//medium devices e.g. tablets
$md: 768px;
//small devices e.g. landscape phones
$sm: 576px;

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  min-height: 8000px;
}

.top-header {
  display: flex;
  align-items: center;
  // background-image: url(../img/headers/cupcakes-black.jpg);
  background-image: url(../../img/headers/cupcakes-black.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .mobile-menu-dropdown-small {
	display: none;
	@media (max-width:$sm) {
	  display: flex;
	}
	button {
	  color: $primary;
	  margin: 16px 0;
	  span {
		margin-right: 0.5em;
	  }
	  &:hover{
		background: $light_plum;
		color: white;
	  }
	}
  }
  .top-header-contact {
	display: flex;
	justify-content: flex-end;

	@media (max-width:$md) {
	  display: none;
	}
	@media (max-width:$sm) {
	  display: flex;
	  justify-content: space-between;
	}
	a {
	  display: inline-block;
	  color: $peach;

	  .fa {
		font-size: 25px;
		color: $primary;
		padding: 1em 0.3em;
	  }
	}
  }
  //.mobile-holder-logo{
	//@media (max-width:$md) {
	//  text-align: center;
	//  margin-bottom: 5px;
	//}
  //}
}

#main-nav {
  background: $dark_plum;
  border-top: 1px solid $light_plum;
  border-bottom: 1px solid $light_plum;

  #navbarNavDropdown {
	@media (max-width:$lg) {
	  padding-top: 15px;
	}
  }

  .mobile-menu-dropdown {
	display: none;
	@media (max-width:$lg) {
	  display: block;
	}
	@media (max-width:$sm) {
	  display: none;
	}
	button {
	  border: none;
	  color: white;
	  padding: 8px;
	  span {
		margin-right: 0.5em;
	  }
	  &:hover{
		background: $light_plum;
	  }
	}
  }

  .search-input-holder {
	margin: -2px 0;
	display: flex;
	border: 2px solid $primary;
	border-radius: 6px;
	background: white;
	width: 350px;
	@media (max-width:$sm) {
	  width: 98%;
	}
	.title{
	  padding: 8px 12px;
	  color: $primary;
	}
	input {
	  padding: 0 0 0 10px;
	  flex: 1;
	  outline: none;
	  border: none;
	  border-left: 2px solid $primary;
	  border-bottom-right-radius: 6px;
	  border-top-right-radius: 6px;
	  &::placeholder{
		color: $black;
	  }
	}
  }

  #main-menu {
	li {
	  a {
		font-size: 16px;
		font-weight: lighter;
		text-transform: uppercase;
		color: white;
		padding: 0 15px;
	  }
	  &.current-menu-item {
		a{
		  color: $pink;
		  font-weight: normal;
		}
	  }
	  .dropdown-menu {
		background: $light_plum;
		li {
		  a {
			&:hover{
			  background: $pink;
			}
		  }
		}
	  }
	}
  }
}


// HOME PAGE ----------------------------------------

.home-hero-banner-top {
  margin-top: 80px;
  .info-holder{
	border: 3px dashed $primary;
	border-radius: 15px;
	padding: 30px;
	color: $primary;
	.fa{
	  padding-right: 0.5em;
	}
	.title {
	  font-size: 30px;
	  font-weight: bold;
	}
	.description {
	  font-size: 20px;
	  font-weight: 300;
	}
  }
  .quote-holder {
	position: relative;
	.flour-img-wide {
	  position: absolute;
	  //margin-bottom: 20vh;
	  width: 100%;
	  z-index: -100;
	  left: 50%;
	  transform: translate(-50%, 0);
	  -webkit-transform: translate(-50%,-50%);
	  @media (min-width:$xl) {
		height:160px;
		object-fit: cover;
		object-position: 0 100%;
	  }
	  @media (max-width:$lg) {
		height:130px;
		object-fit: cover;
		object-position: 50% 100%;
	  }
	  @media (max-width:$md) {
		height:100px;
		object-fit: cover;
		object-position: 50% 100%;
	  }
	}

	@keyframes bloemerinQuote {
	  0% {opacity: 0;}
	  10% {opacity: 100%;}
	  40% {opacity: 100%;}
	  50% {opacity: 0;}
	  100% {opacity: 0;}
	}
	@keyframes bloemerinEnglishQuote {
	  0% {opacity: 0;}
	  50% {opacity: 0;}
	  60% {opacity: 100%;}
	  90% {opacity: 100%;}
	  100% {opacity: 0;}
	}
	.dutch {
	  animation-name: bloemerinQuote;
	  animation-duration: 10s;
	  animation-iteration-count: infinite;
	}
	.english {
	  opacity: 0;
	  animation-name: bloemerinEnglishQuote;
	  animation-duration: 10s;
	  animation-iteration-count: infinite;
	}

	.bloemerin-quote {
	  position: absolute;
	  left: 50%;
	  transform: translate(-50%, 0);
	  -webkit-transform: translate(-50%,-50%);
	  z-index: 100;
	  font-family: 'Dancing Script', cursive;
	  font-size: 40px;
	  text-align: center;
	  color: $primary;
	  @media (max-width:$lg) {
		font-size: 35px;
	  }
	  @media (max-width:$md) {
		font-size: 30px;
	  }
	  @media (max-width:$sm) {
		font-size: 25px;
	  }
	}
  }

  .home-carousel{
	margin-top: 2vh;
	margin-bottom: 50px;
	background: $peach;
	.carousel-item {
	  height: 32rem;
	}
	.carousel-caption{
	  color: $primary;
	  background-color: white;
	  opacity: 80%;
	}
  }
}

.flour-img-wide-below{
  margin-top: 70px;
  position: absolute;
  width: 80%;
  border-radius: 20px;
  overflow: hidden;
  z-index: -100;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%,-50%);
  //@media (min-width:$xl) {
	//height:160px;
	//object-fit: cover;
	//object-position: 0 100%;
  //}
  //@media (max-width:$lg) {
	//height:130px;
	//object-fit: cover;
	//object-position: 50% 100%;
  //}
  //@media (max-width:$md) {
	//height:100px;
	//object-fit: cover;
	//object-position: 50% 100%;
  //}
}
